
*{
    margin:0;
    padding: 0;
    
}
header{
    padding-left: 10%;
    display: grid;
    grid-template-columns: 1fr 2fr;
   
    border-bottom: 0.5px solid rgb(129, 156, 172);
}

 .header{
    padding-right: 5%;

 }

 @keyframes spin{
    from{ transform:rotate(0deg) ;}
    to{transform:rotate(360deg);
    box-shadow: 0 0 15px rgba(249, 147, 13, 0.8), 0 0 30px rgba(249, 252, 252, 0.5);}
 }
.spin-slow{
   animation: spin 1s ease-in-out;
}

a{
color: rgb(212, 232, 249);
text-decoration: none;
font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover{
color: rgb(94, 115, 125);
}