 *{
  margin: 0;
  padding: 0;
}
 body{
    
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("https://media.istockphoto.com/id/1363632948/photo/real-star-background.jpg?s=612x612&w=0&k=20&c=BzYLDJ9ktmfiZDZZWSvg9Ya298qKE0G1HeLQPvQRN-k=");
   background-repeat: no-repeat;
   background-size: cover;
   background-blend-mode: darken;
} 

.icons{
  /* padding-right: 170px; */
  border: 0.1px grey solid;
  border-radius: 100px;
  width: 250px;
}


.mainTitle{
    color: rgb(98, 219, 235);
  
    
}

.fab {
    color: rgb(110, 214, 214);
    border-radius: 50%;
}

.fas {
    color: rgb(131, 201, 201);
}


.fab:hover {
    color: aqua;
   border-color: aqua;
  color: aqua;
  box-shadow: 
    0 0 5px rgb(4, 254, 254),
    0 0 10px rgb(7, 247, 247),
    0 0 15px rgb(188, 244, 244);
  transition: all 0.1s ease;
}

.fas:hover {
     box-shadow: 
    0 0 5px rgb(4, 254, 254),
    0 0 10px rgb(7, 247, 247),
    0 0 15px rgb(188, 244, 244);
  transition: all 0.1s ease;
    color: aqua;
    background-color: transparent;
}

.getInTouch {
  background: linear-gradient(to right, rgb(7, 247, 247), rgb(244, 248, 248), rgb(28, 242, 242));
  background-size: 200% auto; /* Needed for animation */
  background-position: 0% center; /* Start position */
  border-radius: 100px;
  border: none;
  height: 30px;
  width: 100px;
  color: black;
  margin-top: 5%;
  animation: buttonAnime 2.5s linear infinite;
  transition: all 0.3s ease;
  cursor: pointer;
}

.getInTouch:hover {
  filter: brightness(1.5); /* optional: slight brightness */
  transform: scale(1.05);  /* optional: slight zoom */
}

@keyframes buttonAnime {
  to {
    background-position: 200% center;
  }
}



@media screen and (max-width: 768px) {
  .mainTitle {
    font-size: 1.5rem;
  }

  .getInTouch {
    width: 70%;
    font-size: 0.9rem;
  }

  .icons {
    width: 90%;
  }
  .decoration{
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .mainTitle {
    font-size: 1.6rem;
  }

  .getInTouch {
    width: 90%;
    font-size: 0.8rem;
    height: 36px;
  }

  .fab,
  .fas {
    font-size: 1.2rem;
  }

.decoration{
 display: none;
}

 .home{
    display: flex;
    flex-direction: column;
  }}

 